.background {
    background-color: #212227;
}

.containerBg {
    background-color: #212227da;
}

.cardBg {
    background-color: #363636d5;
}

.buttonBg {
    background-color: #3a3a3ad5;
    transition: .7s;
}

.buttonBg:hover {
    background-color: #212227da;
     transition: .7s;
}

.nextButton {
    background-color: #212227da;
    transition: .7s;

}
.nextButton:hover {
    background-color: #F0F3F5;
    font-family: odinSpear !important;
    color: #212227;
    text-shadow: 2px 2px 5px #000000;
    transition: .2s;

}

.navButton {
    background-color: #212227da;
    transition: .7s;

}
.navButton:hover {
    color: #F0F3F5;
    text-shadow: 2px 2px 5px #000000;
    transition: .2s;

}

img#image {
    border-radius: 5px;
}
