

@font-face {
  src: url("../../Fonts/odinspear.TTF");
  font-family: odinSpear;
}

@font-face {
  src: url("../../Fonts/odins.TTF");
  font-family: odin;
}

@font-face {
  font-family: Cinzel;
  src: url("../../Fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: viking;
    src: url("../../Fonts/Norse.otf");
}

.titleText {
    font-family: odinSpear !important;
    color: #F0F3F5;
    text-shadow: 2px 2px 5px #000000;
    transition: .7s;
}

.titleText:hover {
  color: #FEC601;
  transition: .7s;
}

.headerText {
    font-family: viking !important;
    color: #FEC601;
    text-shadow: 2px 2px 5px #000000;
}

.subText {
    font-family: cinzel !important;
    color: #F0F3F5;
}

.resText {
    font-family: cinzel !important;
    color: #F0F3F5;
    transition: .7s;
}

.resText:hover {
  color: #FEC601;
  transition: .7s;
}